# https://sbarnea.com/lint/black/
[flake8]
max-line-length = 79
extend-ignore =
    E203,
# https://stackoverflow.com/a/58029222
per-file-ignores =
    lebesgue/__init__.py:F401,
    lebesgue/likelihood.py:F401,
    lebesgue/prior.py:F401,
